@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,500;1,700&family=Ruda:wght@800&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: auto;
  background-color: #53a8b6;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  border-radius: 30px;
}
#About-me {
  display: block;
  text-align: center;
}
h1,
p {
  text-align: center;
  max-height: 600px;
  margin: 0 auto;
  padding: 50px 60px;
}
#title-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(102, 0, 128);
  font-size: 60px;
}

h2 {
  text-align: center;
  color: rgb(102, 0, 128);
  text-decoration: underline overline thistle;
}
ul {
  border-color: antiquewhite;
}
li,
em {
  text-align: center;
  margin-block-start: auto;
  padding: 5px;
  list-style: none;
  list-style-position: square;
}
span {
  text-align: center;
}

.journey-column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.journey-row {
  margin: auto;
  content: "";
  display: table;
  clear: both;
  position: sticky;
  background-color: #79c2d0;
  border-radius: 3%;
  overflow: hidden;
}
#Chef,
#LWT,
#bay {
  height: auto;
  width: 645px;
  height: 537px;
  border-radius: 30%;
}

#projects {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: plum;
  align-items: center;
}
.container {
  display: flex;
  float: left;
}
.card {
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px #2d3053;
  overflow: hidden;
}

.egg,
.Generation {
  height: 500px;
  width: 450px;
  border-radius: 3px;
}

.intro {
  height: 200px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: #5585b5;
  color: rgb(33, 14, 120);
}
h3 {
  margin: 10px;
  font-size: 40px;
}
#pro-desc {
  font-size: 20px;
  margin: 20px;
}
